{% extends 'base.html' %}

{% block title %}Nutrition Search - Home{% endblock %}

{% block content %}
    <p> Hello {{name}} </p>
    <p>Use the search bar to find nutritional information.</p>
    <p> </p>

    <form action="{{ url_for('results') }}" method="post">
        <label for="search_query">Search Food:</label>
        <input type="text" id="search_query" name="food" required>
        <label for="search_amount">Amount:</label>
        <input type="int" id="search_amount" name="amount" required>
        <button type="submit">Search</button>
    </form>
{% endblock %}
